@use '../helpers/mixins' as *;
@use '../helpers/colors' as *;


.head-slider {
    height: calc(100vh - 127px);
    color: #fff;
    width: 100%;
    top: -80px;
    text-transform: uppercase;
    position: relative;
    transition: .4s;
    background-image: url(../imgs/landing04.jpg);
    background-size: cover;
    .overlay {
        @include overlay(black, .7);
    }
    .slider-content {
        height: 100%;
        .srv {
            position: absolute;
            top: 0;
            left: -200%;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: .5s;
            opacity: 0;

            img {
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
                position: absolute;
            }
            .srv-body {
                padding-top: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                // transition: 1s;
                transition-delay: .5s;
                p {
                    font-size: 26px;
                    color: #d5d5d5;
                }
                h1 {
                    font-weight: 900;
                    font-size: 50px;
                }
                a {
                    padding: 12px 25px;
                    transition: .4s;
                    border: 1px solid $gold-color;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-top: 10px;
                    display: inline-block;
                    width: fit-content;
                    &:hover {
                        background-color: $gold-color;
                        color: #fff;
                        border-color: $gold-color;
                    }
                    &.active {
                        background-color: $gold-color;
                        color: #fff;
                        border-color: $gold-color;
                        transition: .4s;
                        &:hover {
                            background-color: $dark-color;
                            border-color: $dark-color;
                        }
                    }
                }
            }


            &.active {
                opacity: 1;
                left: 0;
            }
        }
        }
  
        .left {
            background-color: $dark-color;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 60%;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            cursor: pointer;
            svg {
                color: white;
                font-size: 20px;
            }
            &:hover {
                background-color: $gold-color;
            }
        }
        .right {
            background-color: $dark-color;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 60%;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            cursor: pointer;
            svg {
                color: white;
                font-size: 20px;
            }
            &:hover {
                background-color: $gold-color;
            }
        }
        
        ul.bullets {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            bottom: 60px;
            li {
                width: 12px;
                height: 12px;
                background-color: white;
                border-radius: 50%;
                margin: 0 10px;
                cursor: pointer;
                transition: .4s;
                &.active {
                    background-color: $gold-color;
                }
                &:hover {
                    background-color: $gold-color;
    
                }
            }
        }
    }




