@use '../helpers/colors' as *;

@import '../helpers/media';

.hd-address {
    background-color: #eee;
    font-size: 15px;
    padding:  5px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .adress {
            color: #555;
            font-size: 12px;
            padding-left: 10px;
            svg {
                margin-right: 5px;
            }
        }
        .social {
            color: #000;
            svg {
                margin-left: 20px;
                font-size: 14px;
                transition: .4s;
                cursor: pointer;
                &:hover {
                    color: $blue-color;
                }
            }
        }

    }
}

@include breakpoints(xs) {
    .hd-address {
        .container{
            flex-direction: column;
            text-align: center;
            .col-4 {
                padding: 10px;
                width: 100%;
            }
        }
    }
    
}
@include breakpoints(sm) {
    .hd-address {
        .container{
            flex-direction: column;
            text-align: center;
            .col-4 {
                padding: 10px;
                width: 100%;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-color;
    min-height: 60px;
    text-transform: uppercase;
    position: relative;
    left: 0;
    top: -19px;
    width: 100%;
    z-index: 1000;
    .container {
        .burger {
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            background-color: $gold-color;
            align-items: center;
            display: none;
            cursor: pointer;
            span {
                width: 100%;
                background-color: white;
                height: 2px;
            }
        }
        ul.links {
            display: flex;
            > li {
                padding: 15px;
                position: relative;
                &:not(:first-of-type, :last-of-type) ::after {
                    content: '';
                    position: absolute;
                    border: 5px solid transparent;
                    border-top-color: #eee;
                    top: 50%;
                    right: -2px;
                    transform: translateY(-2px);
                }
                a {
                    font-weight: bold;
                    font-size: 12px;
                    color: #fff;
                    transition: .4s;
                    &.active .sub-menu {
                        display: block;
                        transition: .4s;
                    }
                    .sub-menu {
                        border-top: 1px solid $gold-color;
                        position: absolute;
                        background-color: #eee;
                        width: 180px;
                        left: 10px;
                        top: calc(100% + 9px);
                        display: none;
                        transition: 1s;
                        z-index: 1000;
                        > li {
                            color: #000;
                            transition: 0.3s;
                            margin: 0 15px;
                            padding: 13px;
                            font-size: 11px;
                            border-bottom: 1px solid #ccc;
                            font-weight: bold;
                            &:hover {
                                color: $gold-color;
                            }
                            &.grand {
                                position: relative;
                                ul.alt-menu {
                                    position: absolute;
                                    background-color: #eee;
                                    right: -180px;
                                    width: 170px;
                                    // min-height: 150px;
                                    top: 0;
                                    border-top: 1px solid $gold-color;
                                    &::after {
                                        content: '';
                                        border: 5px solid transparent;
                                        border-left-color: black;
                                        position: relative;
                                        right: 20px;
                                        top: -100px;
                                        z-index: 100;
                                        float: left;
                                    }
                                    li {
                                        
                                        padding: 13px;
                                        &:not(:last-child) {
                                            border-bottom: 1px solid #ccc;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & a:hover {
                    color: $gold-color;
                }
                & a.active {
                    color: $gold-color;
                    
                }
                & a.active::after {
                    color: $gold-color;
                }
            }
        }
        .search {
            width: 50px;
            right: 120px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            svg {
                color: #888;
            }
        }
    }
}

@include breakpoints(xs) {
    nav {
        

        .container {
            .burger {
                display: flex;
            }
            .col-9 {
                width: 100%;
            }

            ul.links {
                display: none;
                &.col{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    li {
                       
                        padding: 10px;
                        &:not(:first-of-type, :last-of-type) ::after {
                            top: 20px;
                        }
                        
                        a.active {
                            .sub-menu {
                                   width: calc(100% + 8px);
                                position: relative;
                                margin: 10px 0;
                                left: 0;
                               li {
                                margin: 0;
                                a {
                                    display: block;
                                }
                               }
                            }
                        } 
                    }   
                }
            }
            .search {
                top: 20px;
                transform: translate(0);
                right: 70px;
            }
        
        }
    }
}
@include breakpoints(sm) {
    nav {
        

        .container {
            .burger {
                display: flex;
            }
            .col-9 {
                width: 100%;
            }

            ul.links {
                display: none;
                &.col{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    li {
                       
                        padding: 10px;
                        &:not(:first-of-type, :last-of-type) ::after {
                            top: 20px;
                        }
                        
                        a.active {
                            .sub-menu {
                                   width: calc(100% + 8px);
                                position: relative;
                                margin: 10px 0;
                                left: 0;
                               li {
                                margin: 0;
                                a {
                                    display: block;
                                }
                               }
                            }
                        } 
                    }   
                }
            }
            .search {
                top: 20px;
                transform: translate(0);
                right: 70px;
            }
        
        }
    }
}
@include breakpoints(md) {
    nav {
        

        .container {
            .burger {
                display: flex;
            }
            .col-9 {
                width: 100%;
            }

            ul.links {
                display: none;
                &.col{
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    li {
                       
                        padding: 10px;
                        &:not(:first-of-type, :last-of-type) ::after {
                            top: 20px;
                        }
                        
                        a.active {
                            .sub-menu {
                                   width: calc(100% + 8px);
                                position: relative;
                                margin: 10px 0;
                                left: 0;
                               li {
                                margin: 0;
                                a {
                                    display: block;
                                }
                               }
                            }
                        } 
                    }   
                }
            }
            .search {
                top: 20px;
                transform: translate(0);
                right: 70px;
            }
        
        }
    }
}


.main-title {
    height: 120px;
    .container {
        padding: 15px;
        height: 100%;
        

        .logo {
            width: 150px;
            cursor: pointer;
            img {
                max-width: 100%;
            }
        }
        > div {
            padding: 15px;
            div {
                color: #666;
                font-size: 12px;
                margin-bottom: 8px;
                position: relative;
                
                + a {
                    color: #000;
                    font-weight: bold;
                    font-size: 13px;
                }
                .num,
                .mail {
                    position: relative;
                    
                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background-color: #777;
                        
                        
                    }
                    
                }
            }
            .btn {
                
                button {
                    width: 100%;
                    background-color: $gold-color;
                    padding: 10px 20px;
                    
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        background-color: $dark-color;
                        a {
                            color: $gold-color;
                        }
                    }
                    a {
                        color: white;
                        font-weight: bold;
                        font-size: 12px;
                    }

                }
            }
        }
        
    }
}







@include breakpoints(md) {
    .main-title {
        height: 200px;
        .container {
            .col-4 {
                width: 100%;
                .logo {
                    margin: auto;
                }
            }
            .col-2 {
                width: 25%;
            }
        }
    }
}

@include breakpoints(sm) {
    .main-title {

        .container {
            .col-4 {
                width: 100%;
                .logo {
                    margin: auto;
                }
            }
            .col-2 {
              width: 33.3%;
              text-align: center;
              &.last {
                margin: 0 0 20px;
                margin-left: 33%;
            }
            }
        }
    }
}

@include breakpoints(xs) {
    .main-title {

        .container {
            .col-4 {
                width: 100%;
                .logo {
                    margin: auto;
                }
            }
            .col-2 {
              width: 50%;
             
            }
        }
    }
}
