.stats {
    background-color: $dark-color;
    .container {
        padding: 50px 0;
        min-height: 300px;
        .box {
            float: left;
            margin-left: 20px;
            text-align: center;
            width: calc((100% - 80px) / 4);
            color: white;
            margin-bottom: 20px;
            svg {
                color: $gold-color;
                font-size: 50px;
            }
            .counter {
                font-size: 35px;
                font-weight: bold;
                margin: 15px 0;
            }
            .foot {
                color: $gold-color;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: -1px;
            }
        }
    }
}

@include breakpoints(sm) {
    .stats {
        .container {
            height: 450px;
            .box {
                width: calc((100% - 80px) / 2);
            }
        }
    }
}

@include breakpoints(xs) {
    .stats {
        .container {
            min-height: 850px;
            .box {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

